footer {
  color: aliceblue;
  background: #ffffff;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: auto;
  width: 100%;
  
}
footer .footer-corpo {
  background: rgb(33, 91, 170);
  padding-top:10px ;
}
footer p {
  font-size: larger;
}
.direita {
  text-align: center;
  width: 49%;
  display: inline-block;
}
.esquerda {
  text-align: center;
  display: inline-block;
  width: 50%;
}
#linha {
  margin: 0;
  padding: 0%;
}
.redes-sociais {
  display: inline;
  vertical-align: middle;
  width: 30px;
}
.redes-sociais-container {
  display: inline;
  margin: 10px 10px;
}
.redes-sociais-container p {
  display: inline;
}
.redes-sociais-container a {
  color: aliceblue;
}
@media screen and (max-width: 850px){

  footer {
    margin: 10px;
  }
  
}